.main-chat
  .header
    .header__left
      .header__left--text
        =@group.name
      .header__left--member
        .ul
          .list
          Member：
          .list
          -@group.group_users.each do |group_user|
            =group_user.user.name

          
    .header__right   
    = link_to "Edit", edit_group_path(@group.id), class: "edit" 
      

  .message__list   
    = render @messages


  .message__form
    =form_for [@group, @message] do |f|
      = f.text_field :content, class: 'message__form__text', placeholder: 'type a message'
      = f.label :image, class: "input-box__image" do
        = icon('fas', 'image')
        = f.file_field :image      
      = f.submit 'Send', class: 'form__submit'